.description__header {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.description__list {
  display: grid;
  gap: 20px;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}

.description__item {
  font-family: "Arial", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;

  @media (min-width: @tablet-width) {
    min-height: 280px;
  }
}

.description__logo {

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 40px;
  }
}

.description__item-text {
  padding-left: 20px;
  margin: 3px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: @special-darker;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.description__number {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: grid;
    justify-self: end;
    font-family: "Oswald", sans-serif;
    line-height: 280px;
    font-size: 280px;
    margin: 0;
    color: @special-lightest;
    z-index: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

}

