.main-nav {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 22px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 35px;
  }
}

.main-nav__item {
  margin: 22px auto;
  text-align: center;
}
