.stats__item {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special-darker;
  text-transform: lowercase;
}

.stats__legend {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
